body{
    background-color: black;
    margin: 0;
}
.fullPage{
    margin:30px;
    background-color: black;
}

/*NAVBAR-STYLING*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 0px 20px;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    height: 55px;
    width: 65px;
}

.logo h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    margin-left: 10px;   
    color: #db930d;
}
.navButtons{
    padding-right: 40px;
}

.navButtons button {
    
    margin-left: 15px;
    padding: 10px 18px;
    font-weight: 500;
    background: none;
    border:1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}
  
.signup:hover {
    background-color: #db930d;
    border: #db930d;
}
.login:hover {
    background-color: #db930d;
    border: #db930d;
}


@media (max-width: 540px) {
    .navbar{
        flex-direction: column;
        padding: 0;
    }
    
    .navButtons{
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        
    }
    .navButtons button{
        margin-bottom: 10px;
        margin-left: 20px;
    }
    
}

/* MIDDLE-SECTION STYLING */
.middle {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    padding-left: 40px;
}
  
@media (min-width: 768px) {
    .middle {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
}
  
.middleInfo {
    max-width: 550px;
}
  
.middleInfo h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: white;
}
  
.middleInfo p {
    font-size: 1.1rem;
    color: #998f8f;
    margin-bottom: 20px;
}
  
.middleBtns button {
    margin-right: 12px;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
  
.demoBtn {
    background-color: #db930d;
    color: white;
    border: none;
}

.middleImg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleImg img {
    width: 450px;
    height: 350px;
    border-radius: 8px;
    margin: 40px 40px 0px 40px;
}

@media (max-width: 820px) {
    .middle {
        flex-direction: column;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 511px) {
    .middleImg img {
      width: 90%;       /* Responsive width */
      height: auto;   
      margin: 20px auto 0 auto;
    }
}

/* WORKING STYLING */
.working{
    padding: 20px 0px 40px 40px;
}

.working h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;
}

.workingSteps {
    display: flex;
    justify-content:flex-start;
}

.step{
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right:50px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 20px;
}

.step h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color:#998f8f;
    font-family:'Times New Roman', Times, serif;    
}

.step:hover h3{
    color: white;
}

@media (max-width: 618px) {
    .workingSteps {
        display: flex;
        flex-direction: column; 
        align-items: center;    
        text-align: center;
        padding: 20px;
    }

    .step{
        margin-bottom: 30px;
        height: 100px;
        width: 250px;
        justify-content: center;
        align-content: center;
    }
}

/* DEMO-VIDEO */

.demoVideo {
    width: 100%;
    max-width: 800px; 
    aspect-ratio: 16 / 9; /* Maintains proper video ratio */
    margin: 0 auto;
  }
  
.demoVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* video fills the container */
}

.footer {
    color: #9f9d9d;
    text-align: center;
    padding: 20px;
    min-height: 60px; 
}
  

  